html{
    background-color: black;
}

.contenedor{
    width: 600px;
    height: 400px;
    margin: auto;
    border: 5px solid black;
    margin-top: 150px;
    background-color: white;
}

h1{
    display: inline;
    padding: 10px 50px 10px 10px;
}

img{
    display: block;
}

p{
    display: inline;
    padding-left: 30px;
}

input{
    display: inline;
}